<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.support.dao.SignDao">
    <resultMap id="BaseResultMap" type="com.hrms.api.domain.entity.Sign">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="work_time" property="workTime" jdbcType="TIMESTAMP"/>
        <result column="get_off_work" property="getOffWork" jdbcType="TIMESTAMP"/>
        <result column="work_overtime" property="workOvertime" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="delete" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        <trim prefix="" suffix="" suffixOverrides=",">
            id,
            username,
            work_time,
            get_off_work,
            work_overtime,
            status,
            description,
            create_user,
            update_user,
            create_time,
            update_time,
            is_delete,
        </trim>
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
        select
        <include refid="Base_Column_List"/>
        from sign
        where is_delete = 0
        and id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.hrms.api.domain.entity.Sign">
        insert
        into sign
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            work_time,
            get_off_work,
            work_overtime,
            create_user,
            update_user,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{username,jdbcType=VARCHAR},
            #{workTime,jdbcType=TIMESTAMP},
            #{getOffWork,jdbcType=TIMESTAMP},
            #{workOvertime,jdbcType=DECIMAL},
            #{createUser,jdbcType=VARCHAR},
            #{updateUser,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <update id="updateById" parameterType="com.hrms.api.domain.entity.Sign">
        update sign
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="workTime !=null">
                    work_time= #{workTime,jdbcType=TIMESTAMP},
                </if>
                <if test="getOffWork !=null">
                    get_off_work= #{getOffWork,jdbcType=TIMESTAMP},
                </if>
                <if test="workOvertime !=null">
                    work_overtime= #{workOvertime,jdbcType=DECIMAL},
                </if>
                <if test="status !=null">
                    status= #{status,jdbcType=TINYINT},
                </if>
                <if test="description !=null and description !=''">
                    description= #{description,jdbcType=VARCHAR},
                </if>
                update_user=#{updateUser,jdbcType=VARCHAR},
                update_time=#{updateTime,jdbcType=TIMESTAMP},
            </trim>
        </set>
        WHERE is_delete = 0
        and id = #{id,jdbcType=BIGINT};
    </update>
    <delete id="deleteById" parameterType="Long">
        delete
        from sign
        where id = #{id,jdbcType=BIGINT};
    </delete>
    <select id="list" resultMap="BaseResultMap" parameterType="com.hrms.api.domain.condition.SignCondition">
        select
        <include refid="Base_Column_List"/>
        from sign
        where is_delete=0
        <if test="username!=null and username!=''">
            and username=#{username,jdbcType=VARCHAR}
        </if>
        <if test="status !=null">
            and status= #{status,jdbcType=TINYINT}
        </if>
        <if test="year!=null">
            and year(create_time) =#{year,jdbcType=INTEGER}
        </if>
        <if test="month!=null">
            and month(create_time) =#{month,jdbcType=INTEGER}
        </if>
        <if test="day!=null">
            and day(create_time) =#{day,jdbcType=INTEGER}
        </if>
    </select>
</mapper>