<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.dao.SysRolePermissionDao">
    <resultMap id="BaseResultMap" type="com.sso.domain.entity.SysRolePermission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="permission_id" property="permissionId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        <trim prefix="" suffix="" suffixOverrides=",">
            id,
            role_id,
            permission_id,
        </trim>
    </sql>
    <select id="listByRoleIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission
        where role_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item,jdbcType=BIGINT}
        </foreach>

    </select>
</mapper>